<p style="color: green"><%= notice %></p>

<%= render @school_admin %>

<div>
  <%= link_to "Edit this school admin", edit_school_school_admin_path(@school_admin.school, @school_admin) %> |
  <%= link_to "Back to school admins", school_school_admins_path(@school_admin.school) %>

  <%= button_to "Destroy this school admin", school_school_admin_path(@school_admin.school, @school_admin), method: :delete %>
</div>
