
<div class="row">
  <div class="col-md-4">
    <img src="https://www.orchidsinternationalschool.com/wp-content/uploads/2022/09/Primary-School-scaled.jpg" class="img-fluid rounded mx-auto d-block" alt="...">
    <h3><%= @school.name %></h3>
    <p><strong>Established on</strong> <%= @school.established_at %></p>
    <p><%= @school.description %></p>
      <% if can? :update, @school %>
        <div>
          <%= link_to "Edit this school", edit_school_path(@school) %> |
          <%= link_to "Back to schools", schools_path %>
          </br>
          <% if can? :destory, @school %>
            <%= button_to "Delete this school", @school, method: :delete %>
          <% end %>
        </div>
      <% end %>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-10">
        <h4>Courses</h4> 
      </div>
        <% if can? :manage, @school %>
          <div class="col-md-2">
            <%= link_to "New course", new_school_course_path(@school), class: "btn btn-primary" %>
          </div>
        <% end %>
    </div><br>
    <div class="row">
      <% @school.courses.each do |course| %>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/cS8lqPqXSlM/maxresdefault.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= course.title %></h5>
              <p class="card-text"><%= course.description %></p>
              <%= link_to "View", school_course_path(@school, course), class: "btn btn-info" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>