<div class="row">
  <%= render @course %>
</div>

<div>
  <%= link_to "Edit this course", edit_school_course_path(@course.school, @course) %> |
  <%= link_to "Back to courses", school_path(@course.school) %>

  <%= button_to "Delete this course", school_course_path(@course.school_id), method: :delete %>
</div>
<br><br>
<div class="row">
  <div class="row">
  <div class="col-md-8">
    <h4>Batches</h4> 
  </div>
  <div class="col-md-4">
    <%= link_to "New Batch", new_school_path, class: "btn btn-primary" %>
  </div>
</div>

  <% @course.batches.each do |batches| %>
    <p> <%= batches.name %> | <%= link_to "Enroll", "#" %> </p>
    
  <% end %>
</div>