<div class="row">
  <%= render @course %>
</div>

<div>
  <%= link_to "Edit this course", edit_school_course_path(@course.school, @course) %> |
  <%= link_to "Back to courses", school_path(@course.school) %>

  <%= button_to "Delete this course", school_course_path(@course.school_id), method: :delete %>
</div>
<br><br>
<div class="row">
  <h4>Batches</h4>
  <% @course.batches.each do |batches| %>
    <p> <%= batches.name %> | <%= link_to "Enroll", "#" %> </p>
    
  <% end %>
</div>